body{
    margin: 0 0;
}
.container{
    position: relative;
    width: 100%;
    /*height: 100%;*/
}
.head-box{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    img{
        height: 70px;
        width: 450px;
    }
    .name{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 60px;
        font-size: 36px;
        font-weight: bold;
    }
}
.nav{
    width: 100%;
    height: 40px;
    background: firebrick;
    display: flex;
    justify-content: center;
    .nav-list{
        width: 1200px;
        height: 100%;
        display: flex;
    }
    .nav-item{
        color: white;
        line-height: 40px;
        flex-grow: 1;
        cursor: pointer;
        width: auto;
        text-align: center;
        &:nth-of-type(1){
            background: darkred;
        }
    }
}
.swiper{
    height: 500px;
    margin-bottom: 30px;
    img{
        width: 100%;
    }
}
.top-box{
    display: flex;
    height: 460px;
    .box{
        margin: 0 15px;
        border: 2px solid gainsboro;
        flex: 1;
        .box-title{
            border-bottom: 2px solid gainsboro;
            height: 40px;
            width: 100%;
            display: flex;
            line-height: 40px;
            .title-sign{
                content: '';
                background: firebrick;
                width: 6px;
                height: 20px;
                margin: 10px 20px 0;
            }
            .title-name{
                color: firebrick;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .info-list{
            width: 96%;
            margin: 10px 2%;
            height: 390px;
            overflow-x: hidden;
            .info-item{
                width: 100%;
                height: 85px;
                display: flex;
                border: 1px solid gainsboro;
                margin-bottom: 13px;
                .build{
                    height: 60px;
                    width: 60px;
                    margin: 10px 20px 10px 10px;
                }
                .right{
                    width: 95%;
                    padding-top: 15px;
                    .name{
                        margin-bottom: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .info2{
        display: flex;
        justify-content: center;
        align-items: center;
        .content{
            width: 74%;
        }
        img{
            width: 100%;
            height: 100px;
            margin: 15px 0;
            cursor: pointer;
        }
    }
    .info3{
        width: 90%;
        margin: 20px 5%;
        height: 380px;
        overflow-x: hidden;
        .article{
            font-size: 18px;
            border-bottom: 2px dashed gainsboro;
            padding: 10px 0;
            cursor: pointer;
        }
    }
}
.middle-box{
    margin-top: 30px;
    display: flex;
    height: 350px;
    .left {
        margin: 0 15px ;
        border: 2px solid gainsboro;
        flex: 3;  /* 4份 */
        .box-title{
            border-bottom: 2px solid gainsboro;
            height: 40px;
            width: 100%;
            line-height: 40px;
            .title-name{
                width: 150px;
                background: firebrick;
                color: white;
                font-weight: bold;
                padding-left: 20px;
                cursor: pointer;
            }
        }
        .info{
            margin: 20px 0;
            .item{
                position: relative;
                display: flex;
                margin: 15px;
                width: 100%;
            }
            .num{
                width: 25px;
                height: 25px;
                background: indianred;
                color: white;
                font-size: 15px;
                font-weight: bold;
                line-height: 25px;
                text-align: center;
                margin-right: 10px;
            }
            .red{
                background: firebrick;
            }
            .name{
                color: gray;
                cursor: pointer;
                &:hover{
                    color: black;
                }
            }
            .time{
                position: absolute;
                color: gray;
                right: 35px;
            }
        }
    }
    .right {
        border: 2px solid gainsboro;
        margin: 0 15px;
        flex: 7;  /* 6份 */
        .box-title{
            display: flex;
            border-bottom: 2px solid gainsboro;
            height: 40px;
            width: 100%;
            line-height: 40px;
            .title-name{
                width: 150px;
                font-weight: bold;
                padding-left: 20px;
                cursor: pointer;
            }
            .red{
                background: firebrick;
                color: white;
            }
        }
        .table{
            width: 100%;
            height: 300px;
            .head{
                width: 100%;
                background: #d99d9d;
            }
        }
    }
}
.bottom-box {
    margin: 30px 0;
    height: 370px;
    .box{
        margin: 0 15px;
        height: 370px;
        border: 2px solid gainsboro;
        .box-title{
            border-bottom: 2px solid gainsboro;
            height: 40px;
            width: 100%;
            display: flex;
            line-height: 40px;
            .title-sign{
                content: '';
                background: firebrick;
                width: 6px;
                height: 20px;
                margin: 10px 20px 0;
            }
            .title-name{
                color: firebrick;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .info{
            display: flex;
            justify-content: space-between;
            .item{
                width: 25%;
                padding: 20px;
                img{
                    height: 260px;
                    width: 100%;
                    cursor: pointer;
                }
                div{
                    margin-top: 8px;
                    text-align: center;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
}

